// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user{
	border-bottom: solid 1px #CCC;
	padding : 5px 0;
}

.user{
	margin: 1px 0;
}

.user.hover{
	background: #F0F0F0;
}

.user .admin{
	display: none;
}

.user.hover .admin{         //.user.hover .admin   will   overwrite  the   .user .admin
	display: inline;        // and in inspect element(right click) modify user hover instead of user and 
	                        // will help for display on mouse hover (check users.js.coffee)    
}